<footer class="site-footer">
  <div class="container">
    <div class="footer-icons">
      <a class="footer-icon" href="https://scholar.google.com/citations?user=zCVmjboAAAAJ&hl=en" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
      <a class="footer-icon" href="https://www.linkedin.com/in/jonsaadfalcon" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
      <a class="footer-icon" href="https://github.com/jonsaadfalcon" title="GitHub"><i class="fa-brands fa-github"></i></a>
      <a class="footer-icon" href="https://twitter.com/JonSaadFalcon" title="Twitter / X"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="footer-icon" href="mailto:jonsaadfalcon@stanford.edu" title="Email"><i class="fa-solid fa-envelope"></i></a>
      <a class="footer-icon" href="{{ site.baseurl }}/cv.pdf" title="CV"><i class="fa-solid fa-file-lines"></i></a>
    </div>
    <div class="footer-text">&copy; {{ site.time | date: '%Y' }} Jon Saad-Falcon</div>
  </div>
</footer>
