<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jonsaadfalcon" />
  <meta name="twitter:creator" content="@jonsaadfalcon" />
  <meta property="og:url" content="https://jonsaadfalcon.com/" />
  <meta property="og:title" content="Jon Saad-Falcon" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} — {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=2026-05-02">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=2026-05-02">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=2026-05-02">
  <link rel="manifest" href="/icons/site.webmanifest?v=2026-05-02">
  <link rel="shortcut icon" href="/icons/favicon.ico?v=2026-05-02">
  <meta name="theme-color" content="#2E7D6F">

  {% feed_meta %}
</head>
